@import "../../../assets/styles/scss/variables.scss";
@import "../../../assets/styles/scss/mixins.scss";
.Footer {
  margin-top: 100px !important;
  &_availableInContainer {
    width: 88%;
    margin: auto;
    color: #666;
    h1 {
      font-size: 1rem;
      color: $primary-color;

      &::after {
        content: "";
        display: block;
        width: 25px;
        padding: 0.7rem 0 0 0;
        border-bottom: 2px solid $primary-color;
      }
    }

    ul {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      line-height: 1.75rem;
      padding: 0px;
      transition: 0.4s;
      font-weight: 500;
      li {
        :hover {
          color:black;
          font-weight: 500;
        }
      }
    }
  }
  &_quickLinks {
    width: 88%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 40px;
    &_section {
      h1 {
        font-size: 1rem;
        color: $primary-color;
        &::after {
          content: "";
          display: block;
          width: 25px;
          padding: 0.7rem 0 0 0;
          border-bottom: 2px solid $primary-color;
        }
      }
      ul {
        padding: 0px;
        line-height: 1.75rem;
      }
    }
  }
  &_last {
    text-align: center;
    color: #666666;
    margin-bottom: 50px;
    margin-top: 40px;
    &_logo {
      width: 110px;
    }
    &_description {
      font-size: 0.8rem;
    }
    &_writeToUs {
      font-size: 0.9rem;
      span {
        font-weight: bold;
      }
    }
    &_socialIcons {
      padding: 0px;
      @include flex-center;
      gap: 5px;
    }
    &_copyright {
      font-size: 0.8rem;
    }
  }
}

@media (min-width: 600px) and (max-width: 800px) {
  .Footer_availableInContainer ul {
    grid-template-columns: repeat(3, 1fr);
  }
  .Footer_quickLinks{
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 0px) and (max-width: 600px) {
  .Footer_availableInContainer ul {
    grid-template-columns: repeat(2, 1fr);
  }
  .Footer_quickLinks{
    grid-template-columns: repeat(2, 1fr);
  }
}
