@import "../../../assets/styles/scss/variables.scss";
@import "../../../assets/styles/scss/mixins.scss";

.RestaurentsNearYou {
  background-color: $white;
  padding: 20px 0 40px 0;
  margin-bottom: 20px;

  &_container {
    width: 88%;
    margin: auto;
    &_wrapper {
      display: flex;
      align-items: center;

      h1 {
        color: $txt-varient;
        font-size: 1.4rem;
      }

      p {
        flex: 1;
        text-align: right;
        font-size: 0.9rem;
      }
    }
    &_mainWrapper {
      width: 100%;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover > &_navigationIconLeft {
        opacity: 1;
        margin-top: 10px;
      }
      &:hover > &_navigationIconRight {
        opacity: 1;
        margin-top: 10px;
      }
      &_navigationIconLeft,
      &_navigationIconRight {
        opacity: 0;
        width: 0px;
        z-index: 1;
        transition: 0.4s;
        button {
          @include flex-center;
          height: 40px;
          width: 40px;
          border-radius: 40px;
          padding: 0px;
          background-color: rgba(255, 255, 255, 0.808);
          color: $primary-color;
          border: none;
          box-shadow: 3px 4px 8px 0 rgba(0, 0, 0, 0.25);
          transition: 0.5s;
          cursor: pointer;
          &:hover {
            padding-right: 10px;
          }
        }
      }

      &_navigationIconRight {
        button {
          margin-left: -41px;
          &:hover {
            padding-left: 14px;
          }
        }
      }

      &_cardWrapper {
        display: flex; /* Use flex for horizontal alignment */
        overflow-x: auto; /* Allow horizontal scrolling */
        scroll-behavior: smooth; /* Smooth scrolling */
        gap: 20px; /* Gap between cards */
        padding: 20px 0; /* Padding around the card wrapper */

        &::-webkit-scrollbar {
          display: none; /* Hide scrollbar for a cleaner look */
        }
      }
    }
  }
}

.RestaurentsNearYouCard {
  flex: 0 0 250px; /* Set fixed width for the cards */
  transition: all 0.3s;
  padding-bottom: 40px;
  cursor: pointer;

  &:hover {
    box-shadow: 4px 4px 10px 0 rgba(59, 59, 59, 0.1);
  }

  &_image {
    width: 100%;
    height: 140px;
    background-size: 100% !important;
    background-position: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 2px solid $primary-color;
    transition: background-size 0.4s ease;

    &:hover {
      background-size: 110% !important;
      cursor: pointer;
    }
  }

  &_info {
    display: flex;
    align-items: center;

    &_left {
      flex: 1;
      line-height: 4px;

      &_name {
        font-size: 1rem;
        font-family: inherit;
        font-weight: 600;
        color: inherit;
      }

      &_location {
        font-size: 0.8rem;
        color: #666;
        font-weight: 500;
      }
    }

    &_right {
      margin-right: 10px;

      &_rating {
        border-radius: 2px;
        font-size: 0.7rem;
        display: inline-block;
        color: #fff;
        padding: 0.3rem 0.7rem;
        padding-bottom: 0.45rem;
        background: #8cbb0f;
        text-align: center;
        font-weight: bold;
      }
    }
  }
}
