@import "../../../assets/styles/scss/mixins.scss";
@import "../../../assets/styles/scss/variables.scss";

.BgWithSearchBar {
  height: 69vh;
  width: 100%;
  background: url("../../../assets/images/homeBg.png") no-repeat center;
  background-size: cover;
  @include flex-center;
  flex-direction: column;

  &_heading {
    color: $white;
    text-align: center;
    font-size: 2.1rem;
    &_highlighted {
      color: $primary-color;
    }
  }
  button{
    height: 43px;
    width: 140px;
  }
}

@media (min-width:0px) and (max-width:660px){
  
  .BgWithSearchBar{
    height: 50vh;
    &_heading{
      font-size: 1.1rem;
      margin-bottom: 20px;
    }
    &_search{
      height: 43px;
      width: 70%;
      svg{
        width: 20px;
      }
      input{
        font-size: 0.6rem;
        margin-left: 0px;
      }
      button{
        height: 25px;
        width: 70px;
        padding: 0px;
        font-size: 0.7rem;
      }
    }
  }
}